      {{> nav/navbar-home}}
    <div class="jumbotron text-center" style="opacity:0.7">
        <h1 class="py-5 text-center text-light">THE SCALLION</h1>
        <h2 class="py-5 text-center text-light"> The Seattle Times Edition</h2>
    </div>

    <!-- content to be appended here -->
    <div class="container-fluid article-container list-of-scraped-articles">
        <div id="comment"></div>
    </div>